* {
    margin: 0;
}

.banner-container {
    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: 40px;
}

.background-about {
    display: flex;
    border-radius: 15px;
    width: 80%;
    filter: grayscale(50%) brightness(75%) contrast(2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(../Assets/cut-mountains.PNG);
}

.background img {
    border-radius: 15px;
    object-fit: fill;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
