* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 195px 0;
    color: #ff6060;
}

.number-error {
    font-size: 96px;
    font-weight: 700;
    line-height: 137px;
    margin-bottom: 11px;
}

.text-error {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 133px;
}

.link-error {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #ff6060;
}

@media (min-width: 1024px) {
    .error {
        padding: 10px 0;
    }
    .number-error {
        font-size: 288px;
        line-height: 411px;
        margin-bottom: 66px;
    }
    .text-error {
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 182px;
    }
    .link-error {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 159px;
    }
}
