.header-container {
    display: flex;
    justify-content: center;
}

.navbar {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 90%;
}

img {
    width: 145px;
    height: 47px;
}

.container {
    flex-shrink: 0;
}

.link {
    font-size: 18px;
    line-height: 34px;
    margin-right: 57px;
    font-weight: 500;
    text-decoration: none;
    color: #ff6060;
}

.link:hover {
    text-decoration: underline;
}

.link:last-child {
    margin-right: 0px;
}

@media (min-width: 1280px) {
    .navbar {
        padding-top: 40px;
        width: 80%;
    }
    img {
        height: 68px;
    }
    .link {
        text-transform: none;
        font-size: 24px;
        line-height: 34px;
        margin-right: 57px;
    }
}
