.house-infos-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #ff6060;
}

.title-infos {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
}

.location-infos {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

@media (min-width: 1024px) {
    .house-infos-box {
        margin-bottom: 20px;
    }

    .title-infos {
        font-size: 36px;
        line-height: 51px;
    }

    .location-infos {
        font-size: 18px;
        line-height: 26px;
    }
}
