.flex {
    display: flex;
    justify-content: center;
}
.house-container {
    padding-top: 15px;
    padding-bottom: 24px;
    width: 80%;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxes > * {
    flex: 1;
}

.house-infos-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .house-container {
        padding-top: 30px;
    }

    .boxes {
        flex-direction: row;
    }
}
